@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: #fafafa;
  --foreground: #616161;
  --card: #ffffff;
  --card-foreground: #404040;
  --card-foreground-dark-grey: #212121;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #7f38e9;
  --primary-foreground: #fbfbfb;
  --secondary: #f7f7f7;
  --secondary-foreground: #343434;
  --muted: #f7f7f7;
  --muted-foreground: #616161;
  --accent: #f7f7f7;
  --accent-foreground: #343434;
  --destructive: #dc2626;
  --destructive-light: #fef2f2;
  --info: #3b82f6;
  --info-light: #eff6ff;
  --warning: #f97316;
  --warning-light: #fff7ed;
  --border: #e0e0e0;
  --input: #e8e8e8;
  --ring: #b5b5b5;
  --chart-1: #f48a4c;
  --chart-2: #56a2ae;
  --chart-3: #5060c2;
  --chart-4: #cde343;
  --chart-5: #f2c029;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #252525;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #e8e8e8;
  --sidebar-ring: #b5b5b5;
  --select-foreground: #212121;
  --select-border: #e0e0e0;
  --primary-border-light: #dfcdfa;
  --font-xl: 1.375rem;
  --font-sm: 0.75rem;
  --font-xs-sm: 0.625rem;
  --font-xs: 0.575rem;
  --font-2xs: 0.5rem;
  --disabled: #bdbdbd;
  --commission-card-foreground: #eeeeee;
  --grey-300: #f4f7fe;
  --grey-900: #1b2559;
  --metrics-text: #202224;
  --yellow-500: #eab308;
  --yellow-50: #fefce8;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-foreground-dark-grey: var(--card-foreground-dark-grey);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-light: var(--destructive-light);
  --color-info: var(--info);
  --color-info-light: var(--info-light);
  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-select-foreground: var(--select-foreground);
  --color-select-border: var(--select-border);
  --color-primary-border-light: var(--primary-border-light);
  --font-xl: var(--font-xl);
  --font-sm: var(--font-sm);
  --font-xs: var(--font-xs);
  --color-disabled: var(--disabled);
  --color-commission-card-foreground: var(--commission-card-foreground);
  --color-grey-300: var(--grey-300);
  --color-grey-900: var(--grey-900);
  --color-yellow-50: var(--yellow-50);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-['Poppins'];
  }
}

.select-trigger-group {
  @apply flex items-center gap-2;
}
